/* ================ MAIN ================ */

main {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

/* Conteudo principal */

.mainContent {
    display: flex;
    width: 100%;
    max-width: 3000px;
    background-color: #F2F0F1;
    height: 600px;
    flex-direction: row;
    text-align: start;
    justify-content: center;
}

.mainContent>section {
    display: flex;
    flex-direction: column;
    width: 45%;
    height: auto;
    justify-content: center;
    gap: 25px;
    padding: 10px;
}

.infoMain {
    display: flex;
    margin-top: 25px;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    gap: 20px;
}

.mainContent p {
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.6);
}

.mainContent h2 {
    font-weight: bolder;
    font-size: 2.2rem;
}

.modelsImage {
    width: 500px;
    object-fit: cover;
    object-position: 0 -40px;
}

/* Roupas */

.marcas {
    max-width: 3000px;
    display: flex;
    width: 100vw;
    background-color: black;
    min-height: 115px;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    padding: 10px;
}

.arrivals {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 30px;
    min-height: 600px;
    align-items: center;
    gap: 30px;
}

.roupasSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding-bottom: 65px;
}

.roupasSection>button {
    margin-top: 45px;
}

.roupasSection section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    outline: none;
    gap: 15px;
}

.roupa {
    width: 300px;
    height: 450px;
    overflow: hidden;
}

.roupa img {
    border-radius: 20px;
}

.roupa:hover {
    cursor: pointer;
}


/* Css p esconder a barra de scroll do carrossel */
.roupasSection section,
.sectionCard {
    scrollbar-width: none;
}

.roupasSection section::-webkit-scrollbar,
.sectionCard::-webkit-scrollbar {
    display: none;
}

/* STYLES */

.styles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #F2F0F1;
    width: 60%;
    padding: 40px;
    gap: 20px;
    border-radius: 30px;
}

.styles article {
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    gap: 10px;
    justify-content: center;
    height: auto;
    align-items: center;
}

.styles button {
    background-color: white;
    border-radius: 30px;
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.507);
    min-width: 400px;
    margin-bottom: 10px;
    flex-grow: 1;
}

.bigCard {
    flex-grow: 2;
    width: 50%;
}

/* .styles button:nth-child(2) {
    width: 55%;
}

.styles button:nth-child(3) {
    width: 55%;
} */

.styles img {
    width: 300px;
    height: 200px;
    object-fit: cover;
}

.styles h2 {
    margin: 20px;
}

.styles h3 {
    position: absolute;
    left: 20px;
    top: 20px;
}

/* CUSTOMERS */

.customers {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.customers section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
}

.customers div {
    display: flex;
    gap: 10px;
}

.sectionCard {
    display: flex;
    flex-direction: column;
    overflow-x: scroll;
    gap: 20px;
    width: 100%;
    height: 300px;
}

.card {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 15px;
    border-radius: 20px;
    max-width: 500px;
    min-width: 400px;
    max-height: 280px;
    gap: 10px;
    border: solid 1px rgba(143, 143, 143, 0.375);
}


@media (min-width: 0px) and (max-width: 1050px) {

    main {
        margin-top: 55px;
    }

    .mainContent {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        padding: 20px;
        padding-bottom: 0;
    }

    .mainContent section div {
        width: 100%;
        max-width: 700px;
    }

    .mainContent h2 {
        font-size: 2.5rem;
    }

    .mainContent>section {
        width: auto;
        align-items: center;
    }

    .mainContent img {
        height: 500px;
    }

    .infoMain {
        margin: 0;
        gap: 10px;
    }

    .infoMain article {
        width: auto;
        min-width: 200px;
        flex-grow: 1;
    }

    /* Styles */
    .styles article {
        flex-direction: column;
    }


    /* Roupas */
    .roupasSection section {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 450px;
        overflow-x: scroll;
        justify-content: center;
        gap: 15px;
    }
}