/* ================ MAIN ================ */

main {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

/* Conteudo principal */

.mainContent {
    display: flex;
    width: 100%;
    max-width: 3000px;
    background-color: #F2F0F1;
    height: 600px;
    flex-direction: row;
    text-align: start;
    justify-content: center;
}

.mainContent>section {
    display: flex;
    flex-direction: column;
    width: 45%;
    height: auto;
    justify-content: center;
    gap: 25px;
    padding: 10px;
}

.infoMain {
    display: flex;
    margin-top: 25px;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    gap: 20px;
}

.mainContent p {
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.6);
}

.mainContent h2 {
    font-weight: bolder;
    font-size: 2.2rem;
}

.modelsImage {
    width: 500px;
    object-fit: cover;
    object-position: 0 -50px;
}

.darkStar {
    position: absolute;
}

.ds1 {
    max-height: 54px;
    max-width: 54px;
    min-height: 54px;
    min-width: 54px;
    top: 40%;
}

.ds2 {
    max-width: 104px;
    min-width: 104px;
    max-height: 104px;
    min-height: 104px;
    top: 15%;
    right: 0;
}

.modelsContent {
    display: flex;
    position: relative;
    overflow: hidden;
}

/* Roupas */

.avaliacao {
    display: flex;
}

.avaliacao p {
    margin-left: 10px;
}

.precos {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.preco::before,
.DescontoTotal::before {
    content: "$";
}

.desconto {
    background-color: rgba(255, 68, 68, 0.185);
    color: rgb(255, 44, 44);
    width: 50px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .8rem;
}

.desconto::before {
    content: "-";
}

.desconto::after {
    content: "%";
}

.DescontoTotal {
    color: rgb(103, 103, 103);
    text-decoration: line-through 1px;
    text-decoration-color: rgba(103, 103, 103, 0.777);
}

/* Adiciona a avaliacao maxima ao final */
.avaliacao p::after {
    content: "/5";
    color: rgba(77, 77, 77, 0.407);
}

.marcas {
    max-width: 3000px;
    display: flex;
    width: 100vw;
    background-color: black;
    min-height: 115px;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    padding: 10px;
}

.arrivals {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 30px;
    min-height: 600px;
    width: 90%;
    align-items: center;
    gap: 30px;
}

.roupasSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding-bottom: 65px;
}

.roupasSection>button {
    margin-top: 45px;
}

.roupasSection section {
    display: flex;
    flex-direction: column;
    overflow-x: scroll;
    justify-content: center;
    flex-wrap: wrap;
    height: 450px;
    outline: none;
    scroll-snap-type: x mandatory;
    padding-left: 50px;
    padding-right: 50px;
    gap: 15px;
}

.roupa {
    width: 300px;
    height: 450px;
    overflow: hidden;
    scroll-snap-align: center;
}

.roupa img {
    border-radius: 20px;
}

.roupa:hover {
    cursor: pointer;
}


/* Css p esconder a barra de scroll do carrossel */
.roupasSection section,
.sectionCard {
    scrollbar-width: none;
}

.roupasSection section::-webkit-scrollbar,
.sectionCard::-webkit-scrollbar {
    display: none;
}

/* STYLES */

.styles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #F2F0F1;
    width: 90%;
    border-radius: 30px;
}


.styles article {
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    gap: 10px;
    justify-content: center;
    height: auto;
    align-items: center;
    padding: 30px;
}

.styles button {
    background-color: white;
    border-radius: 30px;
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.507);
    margin-bottom: 10px;
    flex-grow: 1;
}

.bigCard {
    flex-grow: 2;
    width: 50%;
}

/* .styles button:nth-child(2) {
    width: 55%;
}

.styles button:nth-child(3) {
    width: 55%;
} */

.styles img {
    height: 300px;
    object-fit: cover;
}

.styles h2 {
    margin-top: 25px;
    font-size: 3rem;
    text-align: center;
}

.styles h3 {
    position: absolute;
    left: 20px;
    top: 20px;
}

/* CUSTOMERS */

.customers {
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 20px;
    margin-top: 80px;
    margin-bottom: 100px;
}

.customers div {
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.customers div article {
    display: flex;
    flex-direction: row;
    gap: 20px
}

.customers h2 {
    width: 80%;
    font-size: 2.5rem;
}

.sectionCard {
    display: flex;
    flex-direction: row;
    padding-left: 50px;
    padding-right: 50px;
    overflow-x: scroll;
    gap: 30px;
    width: 100%;
    margin-bottom: 100px;
    max-width: 2500px;
    outline: none;
    scroll-snap-type: x mandatory;
    border: none;
}

.card {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 15px;
    border-radius: 20px;
    min-width: 350px;
    gap: 10px;
    border: solid 1px rgba(143, 143, 143, 0.375);
    scroll-snap-align: center;
}

.TitleBox {
    display: flex;
    gap: 10px;
}

/* Para o blur nos cards */
/* .window {
    position: absolute;
    height: 100%;
    width: 18%;
    backdrop-filter: blur(2px);
}

.left {
    left: 0;
}

.right {
    right: 0;
} */


@media (min-width: 0px) and (max-width: 1050px) {

    .customers h2 {
        font-size: 1.5rem;
    }

    main {
        margin-top: 55px;
    }

    .mainContent {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        padding: 20px;
        padding-bottom: 0;
    }

    .mainContent section div {
        width: 100%;
        max-width: 700px;
    }

    .mainContent h2 {
        font-size: 2.5rem;
        padding: 20px;
    }

    .mainContent>section {
        width: auto;
        align-items: center;
    }

    .mainContent img {
        height: 500px;
    }

    .infoMain {
        margin: 0;
        gap: 10px;
    }

    .infoMain article {
        width: auto;
        min-width: 200px;
        flex-grow: 1;
    }

    /* Styles */
    .styles img {
        height: 250px;
    }

    .styles h2 {
        font-size: 2rem;
    }

    /* Roupas */
    .roupasSection section {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 450px;
        overflow-x: scroll;
        justify-content: center;
        gap: 15px;
    }
}