@import url('https://fonts.googleapis.com/css2?family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap');

@font-face {
  font-family: integralCf;
  src: url(../fonts/Integral-CF-Font-Family/Fontspring-DEMO-integralcf-bold.otf)
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Radio Canada Big", sans-serif;
  font-weight: 10000;
  font-size: 1.2rem;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scrollbar-color: black #F0EEED;
  transition: all;
}


* h1,
h2 {
  font-family: integralCF;
}

/* BOTOES */

.spanR::before {
  content: "<";
}

.spanL::before {
  content: ">";
}

.buttons {
  background-color: transparent;
  transition: 300ms;
  border: none;
  outline: none;
  text-decoration: none;
  color: black;
}

.buttonsBlack {
  background-color: black;
  color: white;
  min-width: 250px;
  padding: 15px;
  border-radius: 30px;
}

.buttons:hover {
  cursor: pointer;
  text-shadow: 2px 1px 1px rgba(139, 139, 139, 0.289)
}

.buttonText:hover {
  border-bottom: solid black 1px;
}

.bgWhite {
  background-color: white;
}

.bgBlack {
  background-color: black;
}

.rounded {
  border-radius: 99999px;
}

.border {
  border: solid 1px rgba(143, 143, 143, 0.375);
  padding: 10px;
  width: 200px;
  border-radius: 20px;
  background-color: transparent;
  font-size: 1rem;
}

.borderB {
  padding-bottom: 60px;
  padding: 5px;
  border-bottom: solid 1px rgba(143, 143, 143, 0.375);
}

.borderR {
  border-right: solid 1px rgba(143, 143, 143, 0.375);
}

.borderL {
  border-left: solid 1px rgba(143, 143, 143, 0.375);
}

.borderT {
  border-top: solid 1px rgba(143, 143, 143, 0.375);
}

.p20 {
  padding: 0 20px;
}

.text-15 h3 {
  font-size: 2rem;
}

p {
  font-size: 1rem;
}

.alert {
  display: flex;
  flex-direction: column;
  position: fixed;
  justify-content: center;
  align-items: center;
  top: 0;
  height: 100vh;
  width: 100vw;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.476);
  animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
  from {
    filter: opacity(0)
  }

  to {
    filter: opacity(1)
  }
}

.alert article {
  background-color: white;
  padding: 20px;
  max-height: 600px;
  min-width: 350px;
  height: 200px;
  border-radius: 20px;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.alert h3 {
  font-size: 2rem;
}

.alert button {
  padding: 5px;
  border: solid black 1px;
  width: 80%;
  border-radius: 16px;
}

@media (min-width: 0px) and (max-width: 1050px) {
  .buttonsBlack {
    width: 100%;
  }

  .viewAll {
    visibility: hidden;
  }
}