@import url('https://fonts.googleapis.com/css2?family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap');

* {
  font-size: 1.2rem;
}

header {
  display: flex;
  width: 100vw;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
  align-items: center;
  padding: 5px;
}

h1 {
  font-family: "Radio Canada Big", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-size: 3rem;
  font-style: normal;
}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10px;
}

/* PESQUISA PERFIL CARRINHO */

#section-buttons {
  display: flex;
  flex-direction: row;
  gap: 50px;
  align-items: center;
  flex-wrap: nowrap;
}

#section-buttons article {
  display: flex;
  align-items: center;
}

.searchBar {
  display: flex;
  flex-direction: row;
  gap: 12px;
  border-radius: 20px;
  overflow: hidden;
  padding: 10px;
  background-color: #F0F0F0;
  color: #909090;
}

.searchBar input {
  border: none;
  width: 30vw;
  background-color: transparent;
  outline: none;
}

/* TITULO MENU HAMBURGUER */

#title-article {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  gap: 10px;
  width: auto;
}

#title-article>button>img {
  width: 24px;
}

.menu-hamburguer {
  visibility: hidden;
  position: absolute;
}

/* BOTOES HEADER */

.buttonHeader {
  background-color: transparent;
  transition: 150ms;
  border: none;
  outline: none;
}

.buttonHeader:hover {
  cursor: pointer;
  transform: scale(105%);
}

.buttonText:hover {
  border-bottom: solid black 1px;
}

@media (max-width: 1000px) {
  header {
    justify-content: space-between;
  }


  h1 {
    font-size: 2rem;
  }

  * {
    font-size: 1rem;
  }

  .searchBar input {
    visibility: hidden;
    position: absolute;
  }

  .searchBar {
    color: black;
    width: 24px;
    background-color: transparent;
  }

  .menu-hamburguer {
    visibility: visible;
    position: static;
  }

  nav {
    visibility: hidden;
    position: absolute;
  }

  #section-buttons {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    flex-wrap: nowrap;
  }

}