@import url('https://fonts.googleapis.com/css2?family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap');

* {
  font-size: 1.2rem;
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  overflow-x: hidden;
}

/* ========================== HEADER ======================== */
header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100vw;
  gap: 50px;
  align-items: center;
  padding: 20px;
}

/* TITULO PRINCIPAL */

h1 {
  font-family: "Radio Canada Big", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-size: 2.5rem;
  font-style: normal;
}

.menu-hamburguer {
  visibility: hidden;
  position: absolute;
}

/* NAV BAR  */

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 15px;
}

nav>select {
  outline: none;
  border: none;
}

/* SECTION, PESQUISA, PERFIL, CARRINHO */

.searchSection {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  gap: 20px;
}

.searchSection>label {
  display: flex;
  flex-direction: row;
  gap: 12px;
  border-radius: 20px;
  flex-wrap: nowrap;
  overflow: hidden;
  padding: 10px;
  background-color: #f0f0f0c6;
  color: #909090;
}

.searchSection input {
  border: none;
  outline: none;
  background-color: transparent;
}

/* BOTOES */

.buttons {
  background-color: transparent;
  transition: 150ms;
  border: none;
  outline: none;
}

.buttons:hover {
  cursor: pointer;
  transform: scale(105%);
}

.buttonText:hover {
  border-bottom: solid black 1px;
}

/* ================ MAIN ================ */

main {
  width: 100vw;
  background-color: #F2F0F1;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

/* Conteudo principal */

.mainContent {
  display: flex;
  max-height: 500px;
  flex-direction: row;
}

.mainContent>section {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.modelsImage {
  width: 500px;
  object-fit: cover;
  object-position: 0 -40px;
}

/* Roupas */

.arrivals {
  background-color: white;
  display: flex;
  flex-direction: column;
}

.marcas {
  display: flex;
  background-color: black;
  height: 150px;
  justify-content: space-around;
  align-items: center;
}

@media (max-width: 1000px) {
  header {
    justify-content: space-between;
  }

  nav {
    visibility: hidden;
    position: absolute;
  }

  h1 {
    font-size: 2rem;
  }

  * {
    font-size: 1rem;
  }


  #section-buttons {
    width: 30%;
    justify-content: end;
    margin-right: 10px;
    gap: 10px;
  }

  #section-buttons article {
    gap: 10px;
  }

  .searchSection label {
    transform: translateX(25px) translateY(-1px);
    background-color: transparent;
  }

  .searchSection input {
    visibility: hidden;
    position: absolute;
  }

  .menu-hamburguer {
    visibility: visible;
    position: static;
  }

  /* ================= MAIN ================ */


}